@font-face {
  font-family: "Prop Courier";
  src: font-url('PropCourierSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout';
  src: font-url('Knockout-HTF52-Cruiserweight.otf');
  font-weight: bold;
  font-style: bold;
}