@font-face {
  font-family: "Prop Courier";
  src: font-url('PropCourierSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction';
  src: font-url('Redaction-Bold.woff2');
  font-weight: bold;
  font-style: bold;
}