@font-face {
  font-family: "Prop Courier";
  src: font-url('PropCourierSans-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Knockout';
  src: font-url('Knockout-HTF52-Cruiserweight.otf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Cocogoose';
  src: font-url('cocogoose-pro.inline.ttf');
}

@font-face {
  font-family: 'Steelfish';
  src: font-url('steelfish.outline-regular.otf');
}

@font-face {
  font-family: 'Ostrich';
  src: font-url('ostrich-sans.sans-bold.ttf');
}