<h2>La Compagnie</h2>
<p>On est en 2007, le 28 juin plus précisément. Olivier est agriculteur. Depuis toujours il pratique le théâtre et depuis peu, il ne cesse de faire le clown. Non pas le fou du roi, l’animal de cirque ou encore le trublion invertébré (quoique…), mais une vraie recherche sur un type d’art théâtral.  Un art qui vise à mettre un costume pour mieux montrer ses défauts et  en rire. C’est un retournement fascinant : se cacher derrière un  maquillage et un costume pour mieux se montrer !
<br />
Rapidement,  son activité ne cesse de s’accroître, spectacles, interventions,  animations de stages, de cours de théâtre… Si bien que Véronique Récamier Hameline l’aide à fonder sa compagnie,  son association, afin d’offrir un cadre à toutes ses activités et aux  professionnels avec qui il les pratique. Mais… il manque un nom à cette compagnie naissante. Un nom qui serait le révélateur du projet  artistique : le reflet de l’opposition et de la complémentarité. Le  nirvana émotionnel sous forme de lettres au service de l’art.  L’incarnation du cosmos sur terre incrusté sur papier…
<br />
Bref…  C’est bien beau tout cela. Mais justement, il faut toujours redescendre  sur terre. Lorsque l’on va puiser au plus profond de soi-même les  émotions qui servent de ciment pour travailler son propre clown, c’est  plutôt dans la bouillasse que l’on  s’immerge. Une fois que l’on sait se servir des ses propres peurs et de  ses doutes les plus profonds pour en jouer, c’est précisément là que  commence l’histoire du clown authentique.  Non pas celui qui répète les sketches que l’on se transmet  de génération en génération et plaque dessus son travail d’acteur. Mais  celui qui les conçoit ou se laisse fondre dans l’instant pour improviser.
<br />
Oui, c’est dans ces moments précis que naissent les étincelles de la création. Comme autant de petites flammes qui traversent et  emportent le clown en action. Des étincelles voyageuses, contagieuses,  qui viennent directement se loger dans les yeux du public pour faire  vivre la magie du spectacle. Des étincelles… qui naissent de la  bouillasse. En voilà un nom représentatif :
<br />
Étincelle Bouillasse !
<br />
Allez, au travail, maintenant, il faut prévenir les autres
</p>

<h2>Biographies</h2>
<% @biographies.each do |biographie| %>
  <h2><%= link_to biographie.name, biography_path(biographie) %></h2>
  <span><%= biographie.title %></span>
<% end %>