<div class="biographies-wrapper">
  <div class="presentation">
    <h2>LA COMPAGNIE</h2>
    <p class="main-content">
      Depuis 15 ans la Compagnie Etincelle Bouillasse infiltre des clowns dans les écoles, les musées, les marchés, les hôpitaux, les entreprises (partout où la fantaisie s'efface) mais aussi les théâtres et les salles des fêtes. Définitivement optimistes nous nous sommes fixés comme mission de surprendre, amuser, interroger, provoquer, jouer et faire jouer mais surtout partager avec le public des instants joyeux et créatifs.<br><br>
      Projetés dans un monde qui leur échappe, les clowns  d' Etincelle Bouillasse tentent d'établir par le rire et la poésie des ponts entre les générations, les sexes, les personnes porteuses ou non de handicap, francophone ou étrangères, rurales ou citadines. Nos créations racontent le monde dans son absurdité, interrogent le sens de la vie, célèbrent l'humanité.<br><br>
      Jaloux de notre indépendance, nous avons aménagé un petit théâtre de 45 places et un chapiteau de 150 places à LOMMOYE sur l'exploitation agricole de Olivier GUITEL pour y présenter nos créations et celles de nos amis musiciens, comédiens, danseurs et circassiens de passage dans la région.
      Plus que distraire, c'est participer à la création d'une société plus fraternelle et équitable le projet d' Etincelle Bouillasse.
  </div>

  <div class="clown-cards-wrapper">
    <h2>BIOGRAPHIES</h2>
    <% if current_user %>
      <%= link_to "Créer un nouveau clown", (new_biography_path), class: :button, id: :new_biographie %>
    <% end %>
    <div class="clown-cards-container">
    <% @biographies.each do |biographie| %>
      <%= render "clown_card", biographie: biographie%>
    <% end %>
    </div>
  </div>
</div>
