.biographies-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px 15px;
  .clown-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .clown-cards-wrapper {
    margin: 10px 0px;
  }
}