.spectacles-content-wrapper {
  max-width: 1500px;
  display: none;
  &.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.spectacles-nav-tab {
  color: #dd67c9;
  cursor: pointer;
  transition: 0.2s;
  &.active {
    color: var(--purple);
    text-decoration: underline ;
  }
}
.creations-nav {
  display: flex;
  margin-bottom: 15px;
  align-self: flex-start;
  h3 {
    margin: 0px 8px;
  }
}