<div class="wrapper-main">
  <div class="titles">
    <h2><%= @spectacle.title %></h1>
    <%= link_to "Dossier complet (PDF)", @spectacle.tech_file, target: "_blank", class: :button %>
  </div>
  <div class="main-content">
    <%= @spectacle.full_description %>
  </div>
  <div class="gallery">
    <% @spectacle.gallery.each do |image| %>
      <img src=<%= image %>>
    <% end %>
  </div>
</div>
