<div>
  <div class="carousel" data-controller="carousel">
    <ul class="slides">
      <input type="radio" name="radio-buttons" id="img-1" data-carousel-target="img1" checked />
      <li class="slide-container">
        <div class="slide-image" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9443978274903712) 0%, rgba(0,0,0,0.6586835417760855) 52%, rgba(0,0,0,0) 100%), url('https://res.cloudinary.com/doriang/image/upload/v1653485877/Etincelle/Home%20Carousel/2_lapynh.jpg')">
        </div>
        <div class="carousel-controls">
          <label for="img-5" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-2" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-2" data-carousel-target="img2" />
      <li class="slide-container">
        <div class="slide-image" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9443978274903712) 0%, rgba(0,0,0,0.6586835417760855) 52%, rgba(0,0,0,0) 100%), url('https://res.cloudinary.com/doriang/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1653485877/Etincelle/Home%20Carousel/4_ofnztm.jpg')">
        </div>
        <div class="carousel-controls">
          <label for="img-1" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-3" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-3" data-carousel-target="img3" />
      <li class="slide-container">
        <div class="slide-image" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9443978274903712) 0%, rgba(0,0,0,0.6586835417760855) 52%, rgba(0,0,0,0) 100%), url('https://res.cloudinary.com/doriang/image/upload/v1653485877/Etincelle/Home%20Carousel/3_dzixqj.jpg')">
        </div>
        <div class="carousel-controls">
          <label for="img-2" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-4" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-4" data-carousel-target="img4" />
      <li class="slide-container">
        <div class="slide-image" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9443978274903712) 0%, rgba(0,0,0,0.6586835417760855) 52%, rgba(0,0,0,0) 100%), url('https://res.cloudinary.com/doriang/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1653485877/Etincelle/Home%20Carousel/6_ixtxkl.jpg')">
        </div>
        <div class="carousel-controls">
          <label for="img-3" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-5" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <input type="radio" name="radio-buttons" id="img-5" data-carousel-target="img5" />
      <li class="slide-container">
        <div class="slide-image" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.9443978274903712) 0%, rgba(0,0,0,0.6586835417760855) 52%, rgba(0,0,0,0) 100%), url('https://res.cloudinary.com/doriang/image/upload/v1653485877/Etincelle/Home%20Carousel/5_vuuxzk.jpg')">
        </div>
        <div class="carousel-controls">
          <label for="img-4" class="prev-slide">
            <span>&lsaquo;</span>
          </label>
          <label for="img-1" class="next-slide">
            <span>&rsaquo;</span>
          </label>
        </div>
      </li>
      <div class="carousel-dots">
        <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
        <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
        <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
        <label for="img-4" class="carousel-dot" id="img-dot-4"></label>
        <label for="img-5" class="carousel-dot" id="img-dot-5"></label>
      </div>
    </ul>
  </div>
</div>