<div class="wrapper-main" data-controller="agenda-nav">
  <h2>AGENDA SPECTACLES ET STAGES</h2>
  <div class="nav-tabs">
    <h3 class="nav-tab active" data-agenda-nav-target="homeTab" data-action="click->agenda-nav#homeActive">CHEZ NOUS</h3>
    <h3 class="nav-tab" data-agenda-nav-target="outsideTab" data-action="click->agenda-nav#outsideActive">CHEZ LES AUTRES</h3>
  </div>
  <% if current_user %>
    <%= link_to "Créer un nouvel évènement", (new_event_path), class: :button, id: :new_event %>
  <% end %>
  <div class='events-wrapper active' data-agenda-nav-target="homeWrapper"> 
    <% @local_events.each do |event| %>
      <%= render "shared/event", event: event%>
    <% end %>
  </div>
  <div class='events-wrapper' data-agenda-nav-target="outsideWrapper"> 
    <% @outside_events.each do |event| %>
      <%= render "shared/event", event: event%>
    <% end %>
  </div>
</div>

