<h2>Calendrier spectacles / stages</h2>
<% @events.each do |event| %>
  <h3><%= event.title %></h3>
  <% if current_user %>
    <%= link_to "Supprimer", event_path(event), data: { turbo_method: :delete } %>
  <% end %>
<% end %> 