<div class="wrapper-main">
  <h2>STAGES ET ATELIERS</h2>
  <p class="stages-intro">Il y a en toi un être drôle, inventif, fragile et prétentieux, pathétique, spontané et maladroit, piloté par le plaisir et imperméable aux conventions : <strong>ton clown.</strong><br/>
  Il était déjà là avant que tu ne deviennes la personne que tu es aujourd’hui, et il reviendra, peut-être,  quand tu seras très vieux et très fatigué.<br /><br /> 
  Comment le rencontrer, l’accueillir et lui (ré)apprendre à jouer, c’est ce que nous proposons avec ces stages. Un temps privilégié pour ressentir, expérimenter, exposer son clown à de nouveaux partenaires en duo, en trio, créer un numéro, un début de spectacle…
  <br /><br />
  Aucune expérience de la scène n’est requise pour cette exploration, il suffit juste d’apporter des vêtements trop petits, ou trop grands ou trop vieux, beaucoup de curiosité et surtout l’envie de jouer!…. (c’est nous qui fournissons le nez rouge!)
  </p>

  <div class="stage-card">
    <img src="http://www.etincellebouillasse.fr/wp-content/uploads/2015/03/Loge2.jpg">
    <div class="stage-description">
      <h3>Stage clown adulte</h3>
      <span>Journée complète - 50€ + adhésion 15€</span>
      <p>Une  journée pour (re) découvrir son clown, lui donner des ailes, de l’air,  lui faire rencontrer de nouveaux partenaires, expérimenter de nouvelles  situations de jeu. Après les traditionnels exercices de chauffe (du  corps des émotions, du clown) les clowns seront invités à improviser sur  différents thèmes en solo, en duo et en trio, à épater la galerie, à en  jeter plein la vue!…Pour la création éventuelle d’un numéro.</p>
    </div>
  </div>
  <div class="stage-card">
    <div class="stage-description">
      <h3>Stage baby clown</h3>
      <span>1h - 3-8 ans - 8€</span>
      <p>L’occasion  pour les tout petits de découvrir les bases de la scène: l’espace, l’écoute, le rythme, le groupe, les émotions, le jeu avec des exercices  simples et adaptés. Ensuite c’est un petit temps de présentation, sans,  puis avec les parents pour finir avec un goûter.</p>
    </div>
    <img src="http://www.etincellebouillasse.fr/wp-content/uploads/2015/03/Loge2.jpg">
  </div>
  <div class="stage-card">
    <img src="http://www.etincellebouillasse.fr/wp-content/uploads/2015/03/Loge2.jpg">
    <div class="stage-description">
      <h3>Ateliers théâtre</h3>
      <span>Lundi 18h à 19h - 7 à 10 ans - 188€/an</span>
      <p>Tout  commence par quelques exercices d’improvisations, de recherche sur le  corps, la voix, l’espace ou encore les émotions et l’imaginaire. Guidés par Olivier Guitel,  chacun des participants découvre et exploite son potentiel créatif. En  gardant comme fil rouge le plaisir, la discipline du jeu et l’émulation,  le groupe élabore et répète ensuite un spectacle qui sera présenté en  fin d’année.</p>
    </div>
  </div>
</div>
