<h2>Stages et ateliers</h2>
<p>Il y a en toi un être drôle, inventif, fragile et prétentieux, pathétique, spontané et maladroit, piloté par le plaisir et imperméable aux conventions : ton clown. Il était déjà là avant que tu ne deviennes la personne que tu es aujourd’hui, et il reviendra, peut-être,  quand tu seras très vieux et très fatigué… Comment le rencontrer, l’accueillir et lui (ré)apprendre à jouer, c’est ce que nous proposons avec ces stages. Un temps privilégié pour ressentir, expérimenter, exposer son clown à de nouveaux partenaires en duo, en trio, créer un numéro, un début de spectacle…
<br /><br />
Aucune expérience de la scène n’est requise pour cette exploration, ils suffit juste d’apporter des vêtements trop petits, ou trop grands ou trop vieux, beaucoup de curiosité et surtout l’envie de jouer!…. (c’est nous qui fournissons le nez rouge!)
</p>