<div class="wrapper-main">
  <h2>NOUS CONTACTER</h2>
  <h3>J'avoue que je sais pas quoi mettre ici mais il faut du texte alors voila</h3>
  <div class="contact-info">
    <span>2 Chemin du Village</span><br />
    <span>78270 Lommoye</span><br />
    <span>+33 6 60 20 57 94</span><br />
    <span>contact@etincellebouillasse.fr</span>
  </div>
  <h3>Abonnez-vous à notre newsletter!</h3>
  <script async src="https://eomail6.com/form/610ea48b-9a14-11ec-9258-0241b9615763.js" data-form="610ea48b-9a14-11ec-9258-0241b9615763"></script>
</div>
