<div class="wrapper-main">
  <%= render "shared/carousel" %>
  <h2>Bienvenue sur le site de la compagnie Etincelle Bouillasse !</h2>
  <p>Étincelle Bouillasse est une compagnie professionnelle de clowns créée en 2007 située à LOMMOYE dans les Yvelines entre l’Eure et Paris. L’Etincelle, c’est ce que l’on essaie de faire briller dans les yeux du public, et Bouillasse parce que nous sommes une compagnie résolument rurale d’une part, et parce qu’il faut beaucoup farfouiller dans la bouillasse de ses propres émotions, braver ses propres limites avant de voir naître  son clown. L’humain dans sa forme la plus grégaire et universelle est au centre de notre travail ainsi les clowns d’Etincelle Bouillasse s’adressent aux personnes valides ou handicapées, jeunes ou âgées, de France et d’ailleurs. A la FERME THEATRE CHAPITEAU et hors les murs nous proposons des spectacles, des déambulations, des formations aux techniques du clown et au théâtre, des interventions thématiques…</p>
</div>