<div class="wrapper-main">
  <%= render "shared/carousel" %>
  <h2>DÉCOUVREZ LA COMPAGNIE<br />ÉTINCELLLE BOUILLASSE !</h2>
  <p class="main-content"><strong>Étincelle Bouillasse</strong> est une compagnie professionnelle de clowns créée en 2007 située à LOMMOYE dans les Yvelines entre l’Eure et Paris.<br /><br />
  <strong>L’Etincelle</strong>, c’est ce que l’on essaie de faire briller dans les yeux du public, et <strong>Bouillasse</strong> parce que nous sommes une compagnie résolument rurale d’une part, et parce qu’il faut beaucoup farfouiller dans la bouillasse de ses propres émotions, braver ses propres limites avant de voir naître son clown.<br /><br />
  <strong>L’humain</strong> dans sa forme la plus grégaire et universelle est au centre de notre travail ainsi les clowns d’Etincelle Bouillasse s’adressent aux personnes valides ou handicapées, jeunes ou âgées, de France et d’ailleurs.<br /><br /> 
  A la <strong>FERME THEATRE CHAPITEAU</strong> et hors les murs nous proposons des spectacles, des déambulations, des formations aux techniques du clown et au théâtre, des interventions thématiques…</p>
  <div class="logos-container">
    <img src="https://res.cloudinary.com/doriang/image/upload/v1654682065/Etincelle/Logos/logo8_qqbqii.png">
    <img src="https://res.cloudinary.com/doriang/image/upload/v1654682065/Etincelle/Logos/MarianneMC_kkedfk.jpg">
    <img src="https://res.cloudinary.com/doriang/image/upload/v1654682065/Etincelle/Logos/GFDC-logo-white-250_iyc4we.png">
  </div>
</div>