.clown-card-container {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 10px;
  border: 1px solid #2B2D42;
  border-radius: 4px;
  h3 {
    font-size: 25px;
  }
  .clown-thumb {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 10px;
    img {
      width: inherit;
    }
  }
}
