.event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1000px;
  margin: 15px 0px; 
  img {
    max-height: 400px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 15px;
    height: 100%;
    h3 {
      margin-bottom: 10px;
    }
    .event-info {
      font-weight: bold;
    }
    .short-description {
      margin: 10px 0px;
    }
    .event-links {
      display: flex;
      justify-content: end;
      align-items: center;
      a {
        text-align: end;
        text-decoration: underline;
      }
    }
  }
  .decoration {
    width: 1020px;
    height: 250px;
    position: absolute;
    top: 80px;
    right: 0px;
    z-index: -1;
    border: 1px solid #2B2D42;
    border-radius: 4px;
  }
}