.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 30px 20px;
  img {
    margin: 10px;
    max-width: 30%;
    height: 100%;
    @media screen and (max-width: 1200px) {
      max-width: 45%;
    }
    @media screen and (max-width: 530px) {
      max-width: 100%;
    }
  }
}
