.navbar-wrapper {
  display: flex;
  position: sticky;
  justify-content: center;
  height: 70px;
  background-color: #8D99AE;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  padding: 10px 15px;
}
.nav-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button {
  display: inline;
  padding: 5px 10px;
  margin: 0px 5px;
  border: 1px solid #2B2D42;
  border-radius: 3px;
  &:hover {
    color: #EDF2F4;
    background-color: #D90429;
    transition: 0.2s;
  }
}