.navbar-wrapper {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 20;
  justify-content: center;
  height: 70px;
  background-color: #221920;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  padding: 10px 15px;
  #neon-sign {
    position: relative;
    #main-title {
      font-family: "Steelfish";
      text-shadow: var(--neonEffect);
      color: var(--white);
      font-size: 55px;
      position: relative;
    }
    #broken-neon {
      position: absolute;
      right: -25px;
      font-family: "Steelfish";
      color: var(--white);
      text-shadow: var(--neonEffect);
      font-size: 55px;
      transform: rotate(20deg);
      top: 3px;
      z-index: -1;
      animation: neon-letter 8s infinite;
    }
    .spark {
      position: absolute;
      right: -31px;
      top: 17px;
      height: 2px;
      width: 2px;
      border-radius: 50%;
      background: var(--white);
      box-shadow: 0px 0px 10px var(--white), 0px 0px 20px var(--purple), 0px 0px 30px var(--darkPurple);
      opacity: 0;
      z-index: -2;
      &.spark-1 {
        animation: spark-1 6s infinite ease-out;
      }
      &.spark-2 {
        animation: spark-2 6s infinite ease-out;
      }
      &.spark-3 {
        animation: spark-3 6s infinite ease-out;
      }
    }
  
    @keyframes spark-1 {
      80% {
        transform: translate(0);
        opacity: 1;
      }
      90%, 100% {
        animation-timing-function: ease-in;
        transform: translate3D(150px, 40px, 0);
        opacity: 0;
      }
    }
    
    @keyframes spark-2 {
      80% {
        transform: translate(0);
        opacity: 1;
      }
      90%, 100% {
        animation-timing-function: ease-in;
        transform: translate3D(100px, 20px, 0);
        opacity: 0;
      }
    }
    
    @keyframes spark-3 {
      80% {
        transform: translate(0);
        opacity: 1;
      }
      90%, 100% {
        animation-timing-function: ease-in;
        transform: translateX(200px);
        opacity: 0;
      }
    }
  
    @keyframes neon-letter {
      from, 10% {
        text-shadow: var(--neonEffect);
        color: var(--white);
      }
      10%, 20% {
        text-shadow: 0 0 0;
        color: var(--lightPurple);
      }
      20%, 22% {
        text-shadow: var(--neonEffect);
        color: var(--white);
      }
      22%, 25% {
        text-shadow: 0 0 0;
        color: var(--lightPurple);
      }
      25%, 32% {
        text-shadow: var(--neonEffect);
        color: var(--white);
      }
      32%, 35% {
        text-shadow: 0 0 0;
        color: var(--lightPurple);
      }
      35%, 40% {
        text-shadow: var(--neonEffect);
        color: var(--white);
      }
      40%, 80% {
        color: var(--white);
      }
      80%, 100% {
        text-shadow: 0 0 0;
        color: var(--lightPurple);
      }
    }
  }
  
}
.nav-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: 1090px) {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px, 0 0 20px;
    transition: ease-in 0.2s;
    a {
      margin: 20px 0px;
    }
    &.mobile-active {
      display: flex;
      opacity: 1;
      transition: ease-in 0.2s;
    }
  }
}
.button {
  display: inline;
  padding: 5px 10px;
  margin: 0px 5px;
  border: 1px solid var(--purple);
  border-radius: 3px;
  color: var(--white);
  &.active {
    box-shadow: 0px 0px 5px var(--lightPurple), 0px 0px 10px var(--purple), 0px 0px 15px var(--darkPurple);
    transition: 0.2s;
  }
  &:hover {
    box-shadow: 0px 0px 5px var(--lightPurple), 0px 0px 10px var(--purple), 0px 0px 15px var(--darkPurple);
    transition: 0.2s;
  }
}

$dark: #212121;
$light: #efefef;
$color: #b3e5fc;

@mixin btn($right, $top) {
  position: absolute;
  width: 60px;
  height: 60px;
  top: $top;
  right: $right;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 30px;
  background-color: var(--lightPurple);
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: var(--lightPurple);
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: var(--lightPurple);
  content: "";
  top: $top;
}

@mixin icon-circle($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 2px;
  border-radius: 100%;
  background: transparent;
  border: 4px solid black;
  left: -15px;
}

.btn1{
  @include btn(20px, 0px);
  
  .icon-left {
    @include icon(8px, 30px);
    left: 0px; 
    
    &:before{
      @include icon-before(8px, 30px, -20px);
    }
    
    &:after{
      @include icon-after(8px, 30px, 20px);
    }
    
    &:hover{
      cursor: pointer;
    }
  }
  
  .icon-right {
    @include icon(8px, 30px);
    left: 30px;
    
    &:before{
      @include icon-before(8px, 30px, -20px);
    }
    
    &:after{
      @include icon-after(8px, 30px, 20px);
    }
  }
  
  &.open {
    .icon-left {
      transition-duration: 0.5s;
      background: transparent;
      
      &:before{
        transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
      }
    }
    
    .icon-right {
      transition-duration: 0.5s;
      background: transparent;  
      
      &:before{
        transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
      }

      &:after{
        transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}