@import "components";
@import "config";
@import "pages";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #EDF2F4;
}

h1, h2, h3, h4, h5 {
  font-family: 'Redaction';
  color: #2B2D42;
}

p, span, a {
  font-family: 'Prop Courier';
  color: #2B2D42;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}
