@import "components";
@import "config";
@import "pages";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --lightPurple: #f58ee4;
  --purple: #fc2ad9;
  --darkPurple: #bb10ad;
  --purpleGrey: #463546;
  --darkPurpleGrey: #332733;
  --white: #ffeffc;
}

body {
  background-color: var(--darkPurpleGrey);
}

h2, h3, h4, h5 {
  font-family: 'Knockout';
  color: var(--white);
}

h1 {
  font-family: "Steelfish";
  text-shadow: 1px 1px 10px var(--lightPurple), 0px 0px 20px var(--lightPurple), 0px 0px 30px var(--purple), 0px 0px 50px var(--darkPurple);
  color: var(--white);
  font-size: 55px;
}

h2 {
  font-size: 45px;
  text-shadow: 1px 1px 10px var(--lightPurple), 0px 0px 20px var(--lightPurple), 0px 0px 30px var(--purple), 0px 0px 50px var(--darkPurple)
}

h3 {
  font-size: 35px;
}

p, span, a, label {
  font-family: 'Prop Courier';
  color: var(--white);
  font-size: 18px;
}
a, a:hover, a:focus, a:active {
  text-decoration: none;
}
.wrapper-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px 15px;
  min-height: 91vh;
  h2, .subtitle, #new_event {
    align-self: flex-start;
    margin-bottom: 10px;
  }
}